#navBar {
    background-color: #202129;
    /* box-shadow: none; */
}

#lblWorks {
    color: #d4af37;
}

#lblSubtitle {
    color: #d4af37;
    text-align: center;
}

#containerDashboard {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#containerAbout {
    background-color: #282c34;   
    /* min-height: 100vh; */
}

#logo {
    width: 10vh;
    margin-top: 2vh;

}

#logoDashboard {
    width: 25vh;
    margin-top: -10vh;
}

#imageMe {
    max-width:80%;
    pointer-events: none;
    border-radius: 3vh;
    margin-left: 10%;
}

#containerInfo {
    /* margin-top: -20; */
    margin-top: 17vh;
    /* margin-top: 15%; */
}

#lblAboutMe {
    white-space: nowrap;
    margin:3vh 0 3vh 0;
}

#iconSocials {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    margin: .5vh;
}

#lblSocials {
    margin-top: 3vh;
}

#connect {
    color: #d4af37;
}

#containerProject {
    margin-top: 13vh;
}

#cardProject {
    width: 100%;
}

#buttonPDF {
    font-size: 2vh;
}






