/* ------- */
/* Navbar */
/* ------- */
#navBar {
    background-color: rgba(0, 0, 0, 0.5);
    /* box-shadow: none; */
    backdrop-filter: blur(15px);
    transition: all 0.5s ease-out 0s
}

#lblYellow {
    color: #d1ac00;
    /* color: #004643; */
    /* color: #FAF4D3; */
    /* color: #d4af37; */
}

#logo {
    width: 10vh;
    margin-top: 2vh;
}

.navButton {
    position: relative;
    text-decoration: none;
  }
  
.navButton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 4px;
    background-color: #d4af37; 
    transition: width 0.5s ease; 
    border-radius: 3vh;
}
  
.navButton:hover::after {
    width: 100%; 
}
  

/* ------- */
/* Dashboard */
/* ------- */

#lblSubtitle {
    color: #d4af37;
    text-align: center;
    pointer-events: none;
    font-family: 'Raleway';
    font-weight: 600;
}

#lblMark {
    pointer-events: none;
    font-family: 'Raleway';
    font-weight: 500;
}

#containerDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#logoDashboard {
    width: 25vh;
    margin-top: -10vh;
    /* pointer-events: none; */
}


/* ------- */
/* About */
/* ------- */

#containerAbout {   
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#imageMe {
    max-width:80%;
    pointer-events: none;
    border-radius: 3vh;
    margin-left: 10%;
}

/* #containerInfo {
    margin-top: -20;
    margin-top: 14vh;
    margin-top: 15%;
} */

#lblAboutMe {
    white-space: nowrap;
    margin:3vh 0 3vh 0;
}

#iconSocials {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    margin: .5vh;
    display: inline-block;

}

.about-section {
    position: relative;
    padding-top: 110px;
    padding-bottom: 30px;
    color: white;
    min-height: 100vh;

}

#photoBox {
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637);
    border: 1.7px solid rgba(212, 175, 55, 0.637);
    background-color: transparent;
    pointer-events: none;
}


/* ------- */
/* Technical Skill About */
/* ------- */

.tech-icons {
    font-size: 5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.5 !important; /* Initial opacity */
    border: 1.7px solid rgba(212, 175, 55, 0.635) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637) !important;
    overflow: hidden !important;
    transform: translateY(20px); /* Initial position */
    transition: all 0.4s ease 0s !important;
    perspective: 1000px; /* Enable 3D perspective */
}

.tech-icons.visible {
    opacity: 0.93 !important;
    transform: translateY(0); /* Move to final position */
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px !important;
    }
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(212, 175, 55, 0.781) !important;
}

.tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
}

.flip-card {
    width: 100%;
    height: 15vh;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.tech-icons:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

  

/* ------- */
/* Projects */
/* ------- */

@media (orientation: portrait) {
    #containerProject {
        margin-top: 15%;
    }

    #containerDetails {
        margin-top: 12%;
    }

    #projectBox {
        margin-bottom: 10%;
    }
    
    #containerAssetPRODetails {
        margin-top: 12%;
    }
}
  

#containerProject {
    position: relative;
    padding-top: 5%;
    padding-bottom: 30px;
    min-height: 100vh;
}

#containerAssetPRODetails {
    position: relative;
    padding-top: 5%;
    padding-bottom: 30px;
    min-height: 100vh;
}

#containerDetails {
    /* display: flex;
    position: relative;
    min-height: inherit;
    justify-content: center; */
    position: relative;
    padding-top: 5%;
    padding-bottom: 30px;
}

#cardProject {
    width: 100%;
}

#projectBox {
    box-shadow: 0 4px 5px 3px #725d1f;
    color: white;
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    width: 80%;
    margin-left: 10%;

}

#projectBox:hover {
    transform: scale(1.02);
    overflow: hidden;
    box-shadow: 0 4px 4px 5px #7a6421;
}

#lblProjects {
    font-size: 5vh;
    text-align: center;
}

#lblProjectDesc {
    text-align: center;
    margin-bottom:5vh;
}

#lblTitle {
    text-align: center;
}

#sliderBox {
    /* box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637); */
    border: 1.7px solid rgba(212, 175, 55, 0.637);
    background-color: transparent;
}

.queuevista-timeline {
    opacity: 0.5;
    transform: translateY(20px);
    transition: all 0.4s ease 0s;
  }
  
.queuevista-timeline.visible {
    opacity: 0.93;
    transform: translateY(0);
}

.ui-box {
    opacity: 0.5;
    transform: translateY(20px);
    transition: all 0.4s ease 0s;
  }
  
.ui-box.visible {
    opacity: 0.93;
    transform: translateY(0);
}

#btnAsset {
    background-color: transparent;
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637);
    border: 1.7px solid rgba(212, 175, 55, 0.637);
    font-family: 'Raleway';
    color: #fff;
    margin-bottom: 3%;
}

#UIAssetPROBox {
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637);
    border: 1.7px solid rgba(212, 175, 55, 0.637);
}



/* ----- */
/* Footer */
/* ----- */
.footer {
    background-color: rgba(17, 17, 17, 0.61);
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}
  
.footer-nav {
    margin-top: 10px;
}
  

/* ------- */
/* ScrollBar */
/* ------- */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #727272; */
  background: #d1ac00;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #b4b4b4;
  border-radius: 12px;
}

/* ------- */
/* PreLoader */
/* ------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #000000;
    background-image: url(../../img/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12vh 12vh;
}
  
#preloader-none {
    opacity: 0;
}
  
#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* ------- */
/* Resume */
/* ------- */

#resumeContainer{
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
#resumeView {
    padding-bottom: 2%;
    padding-top: 2%;
    justify-content: center;
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637);
    border: 1.7px solid rgba(212, 175, 55, 0.637);
}

#btnResume {
    background-color: transparent;
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637);
    border: 1.7px solid rgba(212, 175, 55, 0.637);
    font-family: 'Raleway';
    font-weight: 600;
}

.switchResume {
    box-shadow: 4px 5px 4px 3px rgba(83, 70, 22, 0.637);
    border: 1.7px solid rgba(212, 175, 55, 0.637);
    border-radius: 4px;
    font-size: 120%;
}

/* ------- */
/* ScrollToTop */
/* ------- */

@keyframes wiggle {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
  }
  
.wiggle {
    animation: wiggle 0.5s ease;
}


/* ----- */
/* Gauge */
/* ----- */

#gaugeLayout {
    color: #d1ac00;
}

/* ----- */
/* BTN */
/* ----- */

.css-button {
  height: 35px;
  width: 200px;
  position: relative;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

p.css-button-text {
  width: 100%;
  position: absolute;
  font-family: 'Raleway';
  font-weight: 600;
}

.css-button-inner {
  height: 51px;
  width: 230px;
  font-weight: 600;
  position: relative;
  font-family: 'Raleway';
  left: -4px;
  top: -1px;
  background-color: #ac8c00;
  text-align: center;
  -webkit-transform: skew(-42deg) translate(300px,0);
  -moz-transform: skew(-42deg) translate(300px,0);
  -o-transform: skew(-42deg) translate(300px,0);
  transform: skew(-42deg) translate(300px,0);
  -webkit-animation-name: buttonx-out;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-out;
  -moz-animation-duration: .7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-out;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.reset-skew {
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  transform: skew(40deg);
}

.css-button:hover > .css-button-inner {
  -webkit-animation-name: buttonx-in;
  -webkit-animation-duration: .6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation-name: buttonx-in;
  -moz-animation-duration: .6s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-name: buttonx-in;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: skew(-42deg) translate(-20px, -0px);
  -o-transform: skew(-42deg) translate(-20px, -0px);
  transform: skew(-42deg) translate(-20px, -0px);
}

@keyframes buttonx-in {
    from {transform:skew(-42deg) translate(-300px, 0);}
    to {transform:skew(-42deg) translate(-20px, -0px);}    
}

@keyframes buttonx-out {
    from {transform: skew(-42deg) translate(0, 0);}
    to {transform: skew(-42deg) translate(300px, -0px);}
}

@-webkit-keyframes buttonx-in {
    from {transform:skew(-42deg) translate(-300px, 0);}
    to {transform:skew(-42deg) translate(-20px, -0px);}    
}

@-webkit-keyframes buttonx-out {
    from {transform: skew(-42deg) translate(0, 0);}
    to {transform: skew(-42deg) translate(300px, -0px);}
}