/* Navbar */

#navBar {
    background-color: rgba(0, 0, 0, 0.5);
    /* box-shadow: none; */
    backdrop-filter: blur(15px);
    transition: all 0.5s ease-out 0s
}

#lblYellow {
    color: #d4af37;
}

#logo {
    width: 10vh;
    margin-top: 2vh;
}

.navButton {
    position: relative;
    text-decoration: none;
  }
  
.navButton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 3px;
    background-color: #d4af37; 
    transition: width 0.5s ease; 
    border-radius: 3vh;
}
  
.navButton:hover::after {
    width: 100%; 
}
  

/* Dashboard */

#lblSubtitle {
    color: #d4af37;
    text-align: center;
    pointer-events: none;
}

#lblMark {
    pointer-events: none;
}

#containerDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#logoDashboard {
    width: 25vh;
    margin-top: -10vh;
    /* pointer-events: none; */
}

/* About */

#containerAbout {   
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#imageMe {
    max-width:80%;
    pointer-events: none;
    border-radius: 3vh;
    margin-left: 10%;
}

/* #containerInfo {
    margin-top: -20;
    margin-top: 14vh;
    margin-top: 15%;
} */

#lblAboutMe {
    white-space: nowrap;
    margin:3vh 0 3vh 0;
}

#iconSocials {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    margin: .5vh;
    display: inline-block;

}

#lblSocials {
    margin-top: 3vh;
}

#connect {
    color: #d4af37;
}

.about-section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 30px;
    color: white;
    min-height: 100vh;

}


/* Projects */

@media (orientation: portrait) {
    #containerProject {
        margin-top: 20%;
    }

    #projectBox {
        margin-bottom: 10%;
    }
}
  

#containerProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

#cardProject {
    width: 100%;
}

#projectBox {
    box-shadow: 0 4px 5px 3px #725d1f;
    color: white;
    background-color: transparent;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    width: 80%;
    margin-left: 10%;

}

#projectBox:hover {
    transform: scale(1.02);
    overflow: hidden;
    box-shadow: 0 4px 4px 5px #7a6421;
}

#lblProjects {
    font-size: 5vh;
    text-align: center;
}

#lblProjectDesc {
    text-align: center;
    margin-bottom:5vh;
}

#lblTitle {
    text-align: center;
}



/* Footer */

.footer {
    background-color: #111111;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
}
  
.footer-nav {
    margin-top: 10px;
}
  

/* ScrollBar */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #b4b4b4;
  border-radius: 12px;
}


/* PreLoader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #000000;
    background-image: url(../../img/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12vh 12vh;
}
  
#preloader-none {
    opacity: 0;
}
  
#no-scroll {
    overflow: hidden;
    height: 100vh;
}
  



