.App {
  /* background-color: #282c34; */
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: inherit; */
  background-size: cover;
  min-height: 100vh;  
  color: white;
  font-family: 'Raleway', sans-serif;
  /* background-color: #0C1618; */
  /* background-color: #0C1618; */
}


